extends layout 
block content 

    .sectionQuizCap

        h2 Quiz #{quizNumber} - Capitals of the World

        form(action=`/submitCapitalQuiz${quizNumber}`, method="post")
            each question in questions
                div
                    p= question.question
                    label
                        input(type="radio", name=`answer_${question.id}`, value=question.prop1, required)
                        | #{question.prop1}
                    label
                        input(type="radio", name=`answer_${question.id}`, value=question.prop2, required)
                        | #{question.prop2}
                    label
                        input(type="radio", name=`answer_${question.id}`, value=question.prop3, required)
                        | #{question.prop3}
                    label
                        input(type="radio", name=`answer_${question.id}`, value=question.prop4, required)
                        | #{question.prop4}

            button(type="submit") Submit Quiz

    div.homeButtonContainer
        a(href="/quizzes")
            button.homeButton Return To Quizzes