extends layout 
block content 


    div.quizzesPage
        div.quizzestitle
            // Display the user's name
            h1 Hello #{username}! Test your knowledge with our quizzes!
        
        div.flagsQuizSection
            div.box 
                h2 Capitals
                br
                p Test your knowledge of the entire world's capitals!
                br
                p Launch a game:
                .button-container
                    a(href="/quizcapital1")
                        button.softbutton Quiz 1
                        p Your last score: #{quizScores.quizcapital1 || 'None'}
                    a(href="/quizcapital2")
                        button.mediumbutton Quiz 2
                        p Your last score: #{quizScores.quizcapital2 || 'None'}
                    a(href="/quizcapital3")
                        button.hardbutton Quiz 3
                        p Your last score: #{quizScores.quizcapital3 || 'None'}
                    br

        div.capitalsQuizSection
            div.box 
                h2 Divers
                br
                p Test your knowledge of the divers places and facts in the world!
                br
                p Launch a game:
                .button-container
                    a(href="/quizdivers1")
                        button.softbutton Quiz 1
                        p Your last score: #{quizScores.quizdivers1 || 'None'}
                    a(href="/quizdivers2")
                        button.mediumbutton Quiz 2
                        p Your last score: #{quizScores.quizdivers2 || 'None'}
                    a(href="/quizdivers3")
                        button.hardbutton Quiz 3
                        p Your last score: #{quizScores.quizdivers3 || 'None'}
                    br
        div.homeButtonContainer
            a(href="/")
                button.homeButton Home


 
